Package: net.peng81828.tweak
Name: Empty Tweak
Version: 1.0
Architecture: iphoneos-arm
Description: Empty test package.
Depiction: http://peng81828.github.io/repo/depiction/emptytweak.html
Homepage: http://peng81828.github.io/repo
Maintainer: Peng81828 <surveysandbeermoney@gmail.com>
Author: Peng81828 <surveysandbeermoney@gmail.com>
Section: Tweaks
